@font-face {
    font-family: 'Raleway-Bold';
    src: url('/resources/fonts/raleway-bold-webfont.woff2') format('woff2'),
        url('/resources/fonts/Raleway-Bold.ttf') format("truetype"),
        url('/resources/fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('/resources/fonts/raleway-regular-webfont.woff2') format('woff2'),
        url('/resources/fonts/resources/fonts/Raleway-Regular.ttf') format("truetype"),
        url('/resources/fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.centered {
  margin: 0 auto;
  max-width: 700px;
}  

.interweb {
    margin: 7px;
    position: relative;
    top: 0;
    transition: top ease 0.25s;
}

.interweb:hover {
    top: -5px;
}

.orange-highlight {
    background: #ffd394;
    padding: 0px 1px 0px 1px;
    margin: -1px -1px;
    display:inline-block;
}

.blue-highlight {
    background: #ace7be;
    padding: 0px 1px 0px 1px;
    margin: -1px -1px;
    display:inline-block;
}

p {
  font-size:16px;
  line-height: 1.5;
  color: #191919;
  padding-bottom: 15px;
}

h1, h2 {
    margin: 7px;
}