<div class="social">
	<h5>
	  <a href="https://github.com/ovipaul"><i class="fab fa-github"></i></a>
	  <a href="https://twitter.com/ItsAll0greN0w"><i class="fab fa-twitter"></i></a>
		<a href="https://medium.com/ovipaul"><i class="fab fa-medium"></i></a>
	  <a href="https://linkedin.com/in/ovipaul"><i class="fab fa-linkedin"></i></a>
		<a href="https://scholar.google.co.uk/citations?user=W6Tee4QAAAAJ&hl=en"><i class="fas fa-graduation-cap"></i></a>
		<a href="https://orcid.org/0000-0002-7333-9203"><i class="fas fa-info-circle"></i></a>
	</h5>
</div>
